EMAIL_ID="your-email@example.com"
EMAIL_USERNAME="your-name"
EMAIL_PASSWORD="your-email-password"
EMAIL_APP_PASSWORD="your-gmail-app-password"

GMAIL_IMAP_SERVER =imap.gmail.com
GMAIL_IMAP_PORT=993
GMAIL_SMTP_SERVER=smtp.gmail.com
GMAIL_SMTP_PORT=587

HF_TOKEN="your-huggingface-token"
